html, body {
    font-family: 'Chivo', sans-serif;
    color: #e7b17d;
}

body {
    background-color: #551E19;
    background-image: url("../images/fireplace.webp");
    /*background-size: 100%;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.headerFont {
    font-family: 'MuseoModerno', sans-serif;
}

.navbar-brand img {
    width: 20%;
    height: 20%;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #551e19;
}

#search-Coffee {
    background-color: #99592b;
    color: #551e19;
    border-color: black;
    margin-right: 10px;
}

.coffees-container {
    margin-top: 6em;
}

#roast-selection {
    background-color: #99592b;
    border-color: black;
    color: #e7b17d;
    width: 50%;
    height: 3em;
}

.new-roast-selection-label, #new-roast-selection, #new-coffee-name {
    background-color: #99592b;
    border-color: black;
    color: #e7b17d;
}

.coffeeCard {
    margin: 5px;
    background-color: #551E19;
    text-align: center;
}

.coffeeCard img {
    width: 100%;
    height: 70%;
    border-radius: 2%;
}

.add-button {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
}

.cigar-pairing-box {
    position: fixed;
    right: 10em;
    /*bottom: 2em;*/
    /*z-index: 1030;*/
}

.cigar-pairing-box, .roast-pairing-list li, .cigar-pairing-list li {
    background-color: #551e19;
    color: #e7b17d;
    border-radius: 2%;
}

.offcanvas-body, .offcanvas-header {
    background-color: #551e19;
    border-color: black;
    color: #e7b17d;
}

.pairing-card{
    width: 36%;
    height: 20%;
    margin-top: 30em;
    margin-right: -9em;
    border-radius: 2%;
    font-size: 15px;
}

.roast-info{
    font-size: 15px;
    width: 38%;
    position: fixed;
    right: 0em;
    top: 3em;
    z-index: 4;
    margin-top: 7em;
    padding-bottom: 0;
    border-radius: 2%;
}

.roast-header{
    background-color: #551e19;
    border-color: black;
    color: #e7b17d;
}

.add-card{
    background-color: #99592b;
}

.coffee-bean-btn {
    border: thick black;
}