html, body {
    font-family: 'Chivo', sans-serif;
    color: #e7b17d;
}

body {
    background-color: #99592b;
}

.headerFont {
    font-family: 'MuseoModerno', sans-serif;
}

.navbar-brand img {
    width: 10%;
    height: 10%;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #551e19;
}

.coffeeCard {
    margin: 5px;
    background-color: #551E19;
    text-align: center;
}

.coffeeCard img {
    width: 100%;
    height: 70%;
}